# Loading and Exporting Data in Python

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import json

# 1.Loading data from a CSV file

### We will load the sales.csv file which contains sales information.

CSV - Comma-Sepated Values

In [4]:
# Loading the CSV file
df_vendas = pd.read_csv('vendas.csv')

# Displaying the first lines
print("First 5 lines of the sales file:")
display(df_vendas.head())

# Information about the Dataframe
print("Information about the Dataframe:")
display(df_vendas.info())

First 5 lines of the sales file:

   data_venda              produto  quantidade  valor_unitario         cliente
0  2024-01-15        Notebook Dell           2          3500.0      João Silva
1  2024-01-15           Monitor LG           3           800.0      João Silva
2  2024-01-16     Teclado Mecânico           5           300.0    Maria Santos
3  2024-01-16          Mouse Gamer           2           150.0    Maria Santos
4  2024-01-17  Headphone Bluetooth           1           300.0  Pedro Oliveira

Information about the Dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_venda      6 non-null      object
 1   produto         6 non-null      object
 2   quantidade      6 non-null      int64
 3   valor_unitario  6 non-null      float64
 4   cliente         6 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 372.0+ bytes

None

# 2. Loading data from a JSON file

### Now we will load the cadastro.json file which contains information about customers.

In [6]:
# Loading the JSON file
with open('cadastro.json', 'r', encoding='utf-8') as file:
    data_json = json.load(file)  # dict

print(type(data_json))

# Converting to DataFrame
df_clients = pd.DataFrame(data_json['clientes'])

# Displaying the first rows
print("First 5 rows of the registration file if available:")
display(df_clients.head())

# Information about the DataFrame
print("\nInformation about the DataFrame:")
display(df_clients.info())

<class 'dict'>
First 5 rows of the registration file if available:

,id,nome,email,telefone,endereco
0,1,João Silva,joao.silva@email.com,(11) 98765-4321,"{'rua': 'Rua das Flores', 'numero': '123', 'ci..."
1,2,Maria Santos,maria.santos@email.com,(11) 91234-5678,"{'rua': 'Avenida Paulista', 'numero': '456', '..."
2,3,Pedro Oliveira,pedro.oliveira@email.com,(11) 94567-8901,"{'rua': 'Rua Augusta', 'numero': '789', 'cidad..."

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3 non-null      int64
 1   nome      3 non-null      object
 2   email     3 non-null      object
 3   telefone  3 non-null      object
 4   endereco  3 non-null      object
dtypes: int64(1), object(4)
memory usage: 252.0+ bytes

None

In [ ]:
df_endereco = pd.DataFrame([data_json['endereco']])
print(df_endereco)

ValueError: If using all scalar values, you must pass an index