# Loading and Exporting Data in Python

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
import json

# 1.Loading data from a CSV file

### We will load the sales.csv file which contains sales information.

CSV - Comma-Sepated Values

In [5]:
# Loading the CSV file
df_vendas = pd.read_csv('vendas.csv')

# Displaying the first lines
print("First 5 lines of the sales file:")
display(df_vendas.head())

# Information about the Dataframe
print("Information about the Dataframe:")
display(df_vendas.info())

First 5 lines of the sales file:

   data_venda              produto  quantidade  valor_unitario         cliente
0  2024-01-15        Notebook Dell           2          3500.0      João Silva
1  2024-01-15           Monitor LG           3           800.0      João Silva
2  2024-01-16     Teclado Mecânico           5           300.0    Maria Santos
3  2024-01-16          Mouse Gamer           2           150.0    Maria Santos
4  2024-01-17  Headphone Bluetooth           1           300.0  Pedro Oliveira

Information about the Dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_venda      6 non-null      object
 1   produto         6 non-null      object
 2   quantidade      6 non-null      int64
 3   valor_unitario  6 non-null      float64
 4   cliente         6 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 368.0+ bytes

None

# 2. Loading data from a JSON file