# What is NumPy and why is it important in data analysis?

In [6]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (2.3.4)

In [7]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [9]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from seaborn) (2.3.4)
Requirement already satisfied: pandas>=1.2 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eduardo.siqueira\appdata\local\miniconda3\envs\dados\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eduardo.siqueira\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [11]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Loading Data

### First, let's load our sample dataset, which contains several common data quality problems.

In [15]:
# Load data
df = pd.read_csv('dados_problema.csv')
print("Dataframe Format:", df.shape)
df.head()

Dataframe Format: (10, 6)

   id          nome  idade  salario departamento data_contratacao
0   1    João Silva   32.0   4500.0           TI       2020-01-15
1   2  Maria Santos   28.0   3800.0    Marketing       2019-06-20
2   3    João Silva   32.0   4500.0           TI       2020-01-15
3   4  Ana Oliveira    NaN   4200.0           TI       2021-03-10
4   5   Pedro Costa   45.0      NaN       Vendas       2018-11-05

## 2. Identifying Missing Values

### Let's check where there are missing values ​​in our dataset.

In [16]:
# Verify missing values
print("\nMissing values ​​by column:")
print(df.isnull().sum())

#Viewing missing values
plt.figure(figsize=(10, 6))
sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
plt.title('Map of Missing Values')
plt.show()

Missing values ​​by column:
id                  0
nome                0
idade               2
salario             1
departamento        1
data_contratacao    0
dtype: int64

AttributeError: module 'matplotlib.pyplot' has no attribute 'figura'